In [50]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import re

In [51]:
df1 = pd.read_csv('data1.csv')
df2 = pd.read_csv('data2.csv')
df3 = pd.read_csv('data3.csv')
data = pd.concat([df1, df2, df3], ignore_index=True)

In [52]:
data = data.drop_duplicates()

In [53]:
for i in data[['price', 'lowest_price', 'highest_price']]:
    data[i] = data[i].str.replace('руб', '').str.replace('\xa0', '').str.replace(' ', '')

In [54]:
for i in data[['price', 'lowest_price', 'highest_price']]:
    data[i] = np.where(data[i].str.isnumeric(), data[i], np.nan)
    data[i] = data[i].astype(float).astype('Int64')

for i in data[['rating', 'stars']]:
    data[i] = data[i].str.replace(',', '.').astype(float)

In [55]:
data.to_csv('data.csv', index=False)

In [56]:
top_50 = data.groupby('city').apply(lambda x: x.nlargest(50, 'rating')).reset_index(drop=True)
top_50.to_csv('top_50.csv', index=False)

In [57]:
average_df = data.groupby('city').agg({'price': 'mean', 'rating': 'mean', 'stars': 'mean', 'lowest_price': 'mean', 'highest_price': 'mean'}).reset_index().round(2)
average_df.to_csv('average.csv', index=False)

In [58]:
average_df

            city     price  rating  stars  lowest_price  highest_price
0       Абу-Даби  18303.42    4.31   4.25      12737.01       22920.66
1         Аланья   6184.71    4.09   4.01       6203.38       22943.75
2       Алма-Ата   8978.38    3.87   3.75       6824.16        8686.99
3         Астана  12700.33    4.02   3.65       4857.21        6522.76
4          Афины  13724.45    4.20   3.37        8370.7       15814.96
5        Бангкок   12904.2    4.19   3.27       4312.44        6000.85
6      Барселона   21655.0    4.13   3.08      14238.31       24980.84
7         Батуми   7077.57    4.26    NaN       3819.64        5469.89
8         Берлин   11799.6    3.97   3.38        8858.0       14292.74
9      Бирмингем   8122.56    3.85   3.13       7497.76       12476.31
10         Будва  12064.11    4.30   3.70       6919.65       11369.19
11  Буэнос-Айрес  13786.86    4.00   3.42       7360.87       11535.76
12      Ванкувер  19344.23    4.12   3.37      15224.42       28585.15
13      Велигаме  14066.67    4.47   3.17       7795.79       12554.74
14       Венеция  30257.25    4.22   3.03      14696.97       29367.47
15     Гейрангер      <NA>    4.21   3.38       12299.5       21350.12
16         Гюмри      <NA>    4.54   3.50       4326.56        5167.61
17         Дубай  18231.91    4.20   3.93      10490.84       21193.59
18        Ереван   6767.05    4.25   3.52       4548.14        6694.23
19          Каир   8718.78    4.00   3.47       6242.99        8792.32
20      Канберра  10477.33    3.91   3.97      10574.06        14654.4
21         Канди      <NA>    4.36   3.00       5033.28        7493.97
22  Карловы Вары    8636.0    4.31   4.00       8653.64       12127.56
23       Кирения  11923.46    4.08   3.81      12714.24       19163.85
24        Кируна   29201.0    4.32   3.00      13685.62       26129.69
25        Лондон   19789.4    3.98   3.49      17491.97       28786.59
26  Лос-Анджелес   19408.4    3.71   2.80      15534.49       21255.18
27        Мадрид  19066.32    3.99   2.94      10527.56       19014.39
28       Марсель   13531.5    3.88   2.97       8736.22       12279.97
29       Мендоса   32364.5    4.11   3.27       7555.75       10652.25
30        Мюнхен  11327.45    3.90   3.44       9260.78       14635.16
31          Нара  15673.75    4.13   2.85      10366.76       16606.42
32       Никосия    8615.6    4.23   3.31       7762.37       10141.44
33      Нью-Йорк   29016.8    4.16   3.60      23313.59       42266.53
34          Осло   14761.0    3.96   3.46      11717.02       17208.32
35        Оттава  14487.27    4.10   3.01      11244.08       15022.53
36         Париж  23493.37    4.14   3.30      17267.45       28695.89
37         Прага   12724.5    4.23   3.71       7438.31       13924.91
38         Пусан   5444.81    4.13   2.76       4169.07        6378.86
39        Пхукет   11697.2    4.23   3.39        6734.3       12723.72
40           Рим  27459.28    4.24   3.05      13719.47       24869.02
41         Родос   8783.11    4.32   3.22       8233.02       13686.24
42          Сеул  12740.58    4.11   2.93       6660.44       10413.52
43          Сиде  16895.35    4.17   4.22        8117.8       21610.88
44        Сидней  17745.44    3.90   3.65      12426.28       19630.55
45     Стокгольм  12424.28    3.99   3.73       9562.85       15480.98
46       Тбилиси    7749.8    4.36   4.19       4272.96        6394.93
47         Токио   23642.1    4.03   2.93       10152.7       17656.87
48        Улцинь   6397.18    4.24   3.61       5030.11        7928.04
49       Хургада  11560.79    4.32   4.29        8027.8       12532.95

In [59]:
url = 'https://time-in.ru/coordinates?ysclid=ltsiewolv228461763'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html')
names = soup.find_all('ul', class_ = 'coordinates-items')

In [60]:
coordinates = pd.DataFrame()

for i in names[1]:      
   
    match = re.search(r'([А-Яа-яЁё\-]+)(-?\d+\.\d+),\s*(-?\d+\.\d+)', i.text)
    if match != None:
        name = match.group(1) 
        if name in average_df['city'].unique():
            latitude = match.group(2)
            longitude = match.group(3)
            df = pd.DataFrame({
            'city': [name],
            'lat': [latitude],
            'lon': [longitude]
            })

            coordinates = pd.concat([coordinates, df], ignore_index=True)

In [61]:
more_c = []
for i in average_df['city']:
    if i not in coordinates['city'].unique():
        more_c.append(i)

In [62]:
more = ['36.5438, 31.9998', '43.2567, 76.9286', '41.3888, 2.15899', '41.6423, 41.6339',
        '52.4814, -1.89983', '42.29115, 18.8403', '-34.6132, -58.3772', '49.2497, -123.119',
        '5.9667, 80.4167', '45.4371, 12.3327', '62.094444, 7.080556', '40.7942, 43.8453',
        '25.0657, 55.1713', '-35.2835, 149.128', '7.2955, 80.6356', '50.2327, 12.8712', 
        '35.3417, 33.3167', '67.85, 20.217', '34.0522, -118.244', '43.297, 5.38107',
        '-32.8908, -68.8272', '48.1374, 11.5755', '34.6851, 135.805', '40.7143, -74.006',
        '35.1028, 129.04', '7.89059, 98.3981', '36.4356, 28.222', '36.7658, 31.3842',
        '-33.8679, 151.207', '41.9283, 19.2064', '27.2574, 33.8129']

In [63]:
lat_more = []
lon_more = []
for i in more:
    lat_more.append(i.split(',')[0])
    lon_more.append(i.split(',')[1])

In [64]:
more_coordinates = pd.DataFrame({
    'city': more_c,
    'lat': lat_more,
    'lon': lon_more
})

In [65]:
coordinates = pd.concat([coordinates, more_coordinates], ignore_index=True)

In [66]:
coordinates

            city        lat        lon
0       Абу-Даби      24.47      54.37
1         Астана      51.18      71.45
2          Афины      37.98      23.73
3        Бангкок      13.75      100.5
4         Берлин      52.52      13.41
5         Ереван      40.18      44.51
6           Каир      30.06      31.25
7         Лондон      51.51      -0.13
8         Мадрид      40.42       -3.7
9        Никосия      35.18      33.36
10          Осло      59.91      10.75
11        Оттава      45.41      -75.7
12         Париж      48.85       2.35
13         Прага      50.09      14.42
14           Рим      41.89      12.51
15          Сеул      37.57     126.98
16     Стокгольм      59.33      18.06
17       Тбилиси      41.69      44.83
18         Токио      35.69     139.69
19        Аланья    36.5438    31.9998
20      Алма-Ата    43.2567    76.9286
21     Барселона    41.3888    2.15899
22        Батуми    41.6423    41.6339
23     Бирмингем    52.4814   -1.89983
24         Будва   42.29115    18.8403
25  Буэнос-Айрес   -34.6132   -58.3772
26      Ванкувер    49.2497   -123.119
27      Велигаме     5.9667    80.4167
28       Венеция    45.4371    12.3327
29     Гейрангер  62.094444   7.080556
30         Гюмри    40.7942    43.8453
31         Дубай    25.0657    55.1713
32      Канберра   -35.2835    149.128
33         Канди     7.2955    80.6356
34  Карловы Вары    50.2327    12.8712
35       Кирения    35.3417    33.3167
36        Кируна      67.85     20.217
37  Лос-Анджелес    34.0522   -118.244
38       Марсель     43.297    5.38107
39       Мендоса   -32.8908   -68.8272
40        Мюнхен    48.1374    11.5755
41          Нара    34.6851    135.805
42      Нью-Йорк    40.7143    -74.006
43         Пусан    35.1028     129.04
44        Пхукет    7.89059    98.3981
45         Родос    36.4356     28.222
46          Сиде    36.7658    31.3842
47        Сидней   -33.8679    151.207
48        Улцинь    41.9283    19.2064
49       Хургада    27.2574    33.8129

In [67]:
gen_all = pd.read_csv('gen_all.csv')

In [68]:
gen_all.head()

,Unnamed: 0,country,city,"insurance, руб.","ticket_price, руб.",luggage_cost,flight_time_minutes,rest_rating,rest_price,hotel_rating,hotel_price,stars_grade,transport_grade,cards_grade,lang_grade,rest_rating_grade,rest_price_grade,hotel_rating_grade,hotel_price_grade
0,0,Армения,Ереван,1801,14803.8,5827.888889,1183.0,4.345882,5434.777228,4.25,6767.05,3.52,5,5,3,3,2,4,1
1,1,Австралия,Сидней,9171,69848.0,7370.900000,3170.0,4.274790,2373.470790,3.90,17745.44,3.65,4,1,2,2,4,1,1
2,2,Австралия,Канберра,7884,106518.1,5300.800000,3451.0,3.910204,1683.957237,3.91,10477.33,3.97,4,1,2,1,5,1,1
3,3,Англия,Бирмингем,45170,32343.6,9588.100000,2170.0,4.315657,2051.748387,3.85,8122.56,3.13,3,3,2,3,4,1,1
4,4,Англия,Лондон,45170,27551.6,13269.800000,1774.5,4.582215,3004.180723,3.98,19789.40,3.49,5,3,2,4,3,1,1

In [69]:
gen_all = gen_all[['country', 'city', 'insurance, руб.', 'ticket_price, руб.', 'luggage_cost', 'flight_time_minutes', 'rest_rating', 'rest_price', 'hotel_rating']]

In [70]:
gen_all['lowest_hotel_price'] = average_df['lowest_price']
gen_all['highest_hotel_price'] = average_df['highest_price']

In [71]:
df_coordinates = pd.merge(gen_all, coordinates, on='city')

In [72]:
df_coordinates.to_csv('new_coordinates.csv', index=False)

In [73]:
gen_all.head()

,country,city,"insurance, руб.","ticket_price, руб.",luggage_cost,flight_time_minutes,rest_rating,rest_price,hotel_rating,lowest_hotel_price,highest_hotel_price
0,Армения,Ереван,1801,14803.8,5827.888889,1183.0,4.345882,5434.777228,4.25,12737.01,22920.66
1,Австралия,Сидней,9171,69848.0,7370.900000,3170.0,4.274790,2373.470790,3.90,6203.38,22943.75
2,Австралия,Канберра,7884,106518.1,5300.800000,3451.0,3.910204,1683.957237,3.91,6824.16,8686.99
3,Англия,Бирмингем,45170,32343.6,9588.100000,2170.0,4.315657,2051.748387,3.85,4857.21,6522.76
4,Англия,Лондон,45170,27551.6,13269.800000,1774.5,4.582215,3004.180723,3.98,8370.7,15814.96