In [2]:
!pip install selenium==3.141.0

Requirement already satisfied: selenium==3.141.0 in c:\users\polin\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\polin\anaconda3\lib\site-packages (from selenium==3.141.0) (1.26.14)

In [530]:
import requests
from selenium import webdriver
from selenium.webdriver import Chrome
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait as wait
from selenium.webdriver.support import expected_conditions as expected_conditions
from selenium.common.exceptions import NoSuchElementException
from bs4 import BeautifulSoup
from time import sleep
from tqdm import tqdm
import statistics

In [54]:
import os
os.chmod('C:/Рабочий стол/chromedriver/chromedriver.exe', 0o755)

In [55]:
browser = Chrome('C:/Рабочий стол/chromedriver/chromedriver.exe')

In [154]:
url = 'https://www.aviasales.ru/search/GOJ2303DXB1'
browser.get(url)

In [155]:
soup = BeautifulSoup(browser.page_source, 'html')
ticket_price = []
luggage = []
flight_time = []
all_tickets =soup.find_all('div', class_="s__LFCEUVt95j7o8KHhg4_u s__rkxHGR99g7N6rg1wEzm8 s__wfLcPf6IF1Ayy7uJmdtH")
times = soup.find_all('span', class_ = 's__Khbz2VzN7C970CDuunwZ')
things = soup.find_all('div', class_ = 's__ZsJorCPi_c9EkmaJ6Xms')
for p in range(5):
    print(p)
    for ticket in all_tickets:
        ticket_price.append(ticket.find('span', class_ = 's__wRhMOEwg2Ub7G1CotYcY').text.replace('\u202f', '').replace('\u2009', '').replace('₽',''))
    for time in times:
        flight_time.append(time.text.replace('\u200a', '').replace('В пути: ', ''))
    for thing in things :
        try: 
            luggage.append(thing.find('span', class_ = 's__wRhMOEwg2Ub7G1CotYcY').text.replace('\u202f', '').replace('\u2009', '').replace('₽', ''))
        except:
            luggage.append(None)
    browser.find_element_by_xpath('//button[@type="button"]').click()
    sleep(4)

0
1
2
3
4

In [156]:
#luggage = list(filter(lambda x: x is not None, luggage))
print(luggage)

['4299', '10290', '1219', '8207', '8534', '8588', '4970', '4970', '6248', '5220', '4299', '10290', '1219', '8207', '8534', '8588', '4970', '4970', '6248', '5220', '4299', '10290', '1219', '8207', '8534', '8588', '4970', '4970', '6248', '5220', '4299', '10290', '1219', '8207', '8534', '8588', '4970', '4970', '6248', '5220', '4299', '10290', '1219', '8207', '8534', '8588', '4970', '4970', '6248', '5220']

In [157]:
def convert_to_minutes(s):
    parts = s.split()
    total_minutes = 0
    for part in parts:
        if 'ч' in part:
            total_minutes += int(part[:-1]) * 60 
        elif 'д' in part:
            total_minutes += int(part[:-1]) * 1440
        elif 'м' in part:
            total_minutes += int(part[:-1]) 
    return total_minutes

In [158]:
fl_1 = list (zip(ticket_price, flight_time))
flight_dubai  = pd.DataFrame(fl_1, columns = ['ticket_price', 'flight_time'])
flight_dubai ['ticket_price'] = flight_dubai ['ticket_price'].apply(lambda x: int(x))
#flight_dubai ['ticket_price'] = flight_dubai ['ticket_price'] + 600
flight_dubai ['flight_time_minutes'] = flight_dubai ['flight_time'].apply(convert_to_minutes)
flight_dubai ['flight_time_minutes'] = flight_dubai ['flight_time_minutes'].apply(lambda x: int(x))
flight_dubai ['mean_luggage_cost'] = statistics.mean(list(map(int, luggage)))
#flight_dubai ['luggage_cost'] = luggage
flight_dubai ['city'] = 'Dubai'
flight_dubai

    ticket_price flight_time  flight_time_minutes  mean_luggage_cost   city
0          18042  1д 15ч 10м                 2350             6254.5  Dubai
1          56353      9ч 25м                  565             6254.5  Dubai
2          31358     12ч 30м                  750             6254.5  Dubai
3          20063   1д 5ч 10м                 1750             6254.5  Dubai
4          22223   1д 7ч 10м                 1870             6254.5  Dubai
5          22898  1д 11ч 15м                 2115             6254.5  Dubai
6          23195     16ч 15м                  975             6254.5  Dubai
7          23419     18ч 15м                 1095             6254.5  Dubai
8          23803     17ч 20м                 1040             6254.5  Dubai
9          25440     20ч 15м                 1215             6254.5  Dubai
10         18042  1д 15ч 10м                 2350             6254.5  Dubai
11         56353      9ч 25м                  565             6254.5  Dubai
12         31358     12ч 30м                  750             6254.5  Dubai
13         20063   1д 5ч 10м                 1750             6254.5  Dubai
14         22223   1д 7ч 10м                 1870             6254.5  Dubai
15         22898  1д 11ч 15м                 2115             6254.5  Dubai
16         23195     16ч 15м                  975             6254.5  Dubai
17         23419     18ч 15м                 1095             6254.5  Dubai
18         23803     17ч 20м                 1040             6254.5  Dubai
19         25440     20ч 15м                 1215             6254.5  Dubai
20         18042  1д 15ч 10м                 2350             6254.5  Dubai
21         56353      9ч 25м                  565             6254.5  Dubai
22         31358     12ч 30м                  750             6254.5  Dubai
23         20063   1д 5ч 10м                 1750             6254.5  Dubai
24         22223   1д 7ч 10м                 1870             6254.5  Dubai
25         22898  1д 11ч 15м                 2115             6254.5  Dubai
26         23195     16ч 15м                  975             6254.5  Dubai
27         23419     18ч 15м                 1095             6254.5  Dubai
28         23803     17ч 20м                 1040             6254.5  Dubai
29         25440     20ч 15м                 1215             6254.5  Dubai
30         18042  1д 15ч 10м                 2350             6254.5  Dubai
31         56353      9ч 25м                  565             6254.5  Dubai
32         31358     12ч 30м                  750             6254.5  Dubai
33         20063   1д 5ч 10м                 1750             6254.5  Dubai
34         22223   1д 7ч 10м                 1870             6254.5  Dubai
35         22898  1д 11ч 15м                 2115             6254.5  Dubai
36         23195     16ч 15м                  975             6254.5  Dubai
37         23419     18ч 15м                 1095             6254.5  Dubai
38         23803     17ч 20м                 1040             6254.5  Dubai
39         25440     20ч 15м                 1215             6254.5  Dubai
40         18042  1д 15ч 10м                 2350             6254.5  Dubai
41         56353      9ч 25м                  565             6254.5  Dubai
42         31358     12ч 30м                  750             6254.5  Dubai
43         20063   1д 5ч 10м                 1750             6254.5  Dubai
44         22223   1д 7ч 10м                 1870             6254.5  Dubai
45         22898  1д 11ч 15м                 2115             6254.5  Dubai
46         23195     16ч 15м                  975             6254.5  Dubai
47         23419     18ч 15м                 1095             6254.5  Dubai
48         23803     17ч 20м                 1040             6254.5  Dubai
49         25440     20ч 15м                 1215             6254.5  Dubai

In [493]:
import pandas as pd
import numpy as np

In [159]:
flight_dubai.to_pickle('C:\\Users\\polin\\OneDrive\\Документы\\Python Scripts\\flight_dubai.pkl')

In [240]:
flight_alanya = pd.read_pickle('flight_alanya.pkl')
flight_alanya['city'] = 'Alanya'

In [249]:
flights = ['flight_abu_dhabi', 'flight_alma_ata ', 'flight_astana','flight_athens', 'flight_bangkok', 'flight_barcelona', 'flight_batumi', 'flight_berlin', 'flight_bermingem', 
         'flight_budva', 'flight_buenos_aires', 'flight_canberra', 'flight_dubai', 'flight_gayranger', 'flight_gyumri', 'flight_hurghada', 'flight_cairo',
         'flight_candi', 'flight_karlovy_vary', 'flight_kirenia', 'flight_kiruna', 'flight_london', 'flight_los_angeles', 'flight_madrid', 'flight_marcel', 'flight_munich', 'flight_nara',
         'flight_new_york', 'flight_nikosia', 'flight_oslo', 'flight_ottava', 'flight_paris', 'flight_phuket', 'flight_prague', 'flight_pusan', 'flight_rhodes', 'flight_rome',
         'flight_seoul', 'flight_side', 'flight_stockholm', 'flight_tbilisi', 'flight_tokio', 'flight_ulcinj', 'flight_vancouver', 'flight_veligame', 'flight_venezia ', 'flight_erevan', 'flight_sydney']
dfs = {}
for i in flights:
    dfs[i] = pd.read_pickle(f'{i}.pkl')

In [250]:
flight = pd.concat(dfs.values(), ignore_index=True)

In [251]:
a = pd.read_pickle('flight_mendoza.pkl')

In [252]:
price = []
for i in a['luggage_cost']:
    if i != 'No info':
        price.append(int(i))
print(price)

[11177, 16095, 13054, 9297, 12920, 8688, 8688, 8688, 11177, 16095, 13054, 9297, 12920, 8688, 8688, 8688, 11177, 16095, 13054, 9297, 12920, 8688, 8688, 8688, 11177, 16095, 13054, 9297, 12920, 8688, 8688, 8688, 11177, 16095, 13054, 9297, 12920, 8688, 8688, 8688]

In [253]:
a['mean_luggage_cost'] = statistics.mean(list(map(int, price)))

In [254]:
del a['luggage_cost']

In [255]:
flight = pd.concat([flight, a, flight_alanya])

city
Abu Dhabi        21858.5
Alanya           23262.0
Alma_ATA         24137.2
Astana           22170.8
Athens           40494.4
Bangkok          40094.8
Barcelona        40906.9
Batumi           28602.5
Berlin           34166.8
Birmingham       32343.6
Budva            40681.1
Buenos Aires     90089.7
Cairo            30078.0
Canberra        106518.1
Candi            43757.4
Dubai            26679.4
Erevan           14803.8
Gayranger        55364.6
Gyumri           16853.6
Hurghada         37285.1
Karlovy Vary     42560.0
Kirenia          32074.7
Kiruna           57499.5
London           27551.6
Los Angeles      83320.4
Madrid           37527.2
Marcel           53154.7
Mendoza         132687.1
Munich           33557.0
Nara            113480.4
New York         72822.2
Nikosia          30606.3
Oslo             41099.3
Ottava          181985.7
Paris            39184.6
Phuket           48611.0
Prague           41636.2
Pusan            53365.8
Rhodes           43385.5
Rome             31765.8
Seoul            54102.7
Side             25382.7
Stockholm        33770.0
Sydney           69848.0
Tbilisi          25015.6
Tokio            91712.2
Ulcinj           38313.6
Vancouver       130570.5
Veligame         44227.4
Venezia          42659.4
Name: ticket_price, dtype: float64

In [296]:
rests = pd.read_csv('restaurants.csv', index_col = 0)
rest_athens = pd.read_csv('rest_athens.csv', index_col=0)

In [301]:
rests = rests.iloc[:, :-1]

In [302]:
rests = pd.concat([rests, rest_athens])

In [303]:
rests

,names,rate,type,mean_rate,min_price,max_price,city,country
0,Entrecôte Café de Paris - YAS Mall,3.5,Middle,4.390572,4575.0,6404.0,Abu-Dhabi,UEA
1,Glow - Poolside Sports Bar,5.0,Middle,4.390572,1830.0,5489.0,Abu-Dhabi,UEA
2,Art Lounge,5.0,Middle,4.390572,NaN,NaN,Abu-Dhabi,UEA
3,Cabana Beach Bar & Grill,5.0,Middle,4.390572,915.0,2745.0,Abu-Dhabi,UEA
4,BB Social Dining,5.0,Middle,4.390572,NaN,NaN,Abu-Dhabi,UEA
...,...,...,...,...,...,...,...,...
595,Estrella Athens,3.5,Middle,4.419328,NaN,NaN,Athens,Greece
596,Athinaia,4.5,Middle,4.419328,797.0,1494.0,Athens,Greece
597,G Cafe Bar,5.0,Middle,4.419328,199.0,2092.0,Athens,Greece
598,Ammos,3.5,Middle,4.419328,918.0,1836.0,Athens,Greece
599,Avli ton Gefseon,5.0,Middle,4.419328,996.0,1793.0,Athens,Greece

In [304]:
cit = []
for i in rests['city']:
    if i == 'Mendosa':
        cit.append('Mendoza')
    elif i == 'Vancuver':
         cit.append('Vancouver')
    elif i == 'Abu-Dhabi':
        cit.append('Abu Dhabi')
    elif i == 'Birmengen':
        cit.append('Birmingham')
    elif i == 'Kair':
        cit.append('Cairo')
    elif i == 'Gumri':
        cit.append('Gyumri')
    elif i == 'Hurgada':
        cit.append('Hurghada')
    elif i == 'Rodos':
        cit.append('Rhodes')
    else :
        cit.append(i)

In [306]:
rests['city'] = cit

In [307]:
cit_2 = []
for i in flight['city']:
    if i == 'Candi':
        cit_2.append('Kandy')
    elif i == 'Tokio':
         cit_2.append('Tokyo')
    elif i == 'Alma_ATA':
        cit_2.append('Almata')
    else: 
        cit_2.append(i)

In [308]:
flight['city'] = cit_2

In [309]:
temp = rests.sort_values(by=['rate', 'city'], ascending=[False, True])

In [326]:
result = temp.groupby('city').apply(lambda x: x.head(50)).reset_index(drop=True)

In [342]:
flight_1 = flight.groupby('city').apply(lambda x: x.head(9) if x.name == 'Gayranger' else (x.head(28) if x.name == 'Gyumri' else (x.head(11) if x.name == 'Kiruna' else x)))

In [347]:
flight_1 = flight_1.reset_index(drop=True)

In [368]:
df = pd.concat([flight_1, result], axis = 1,  join="inner")

In [369]:
del df['type']

In [374]:
df.to_csv('C:\\Users\\polin\\OneDrive\\Документы\\Python Scripts\\df.csv')

In [375]:
rests.to_csv('C:\\Users\\polin\\OneDrive\\Документы\\Python Scripts\\rests.csv')

In [313]:
flight.to_csv('C:\\Users\\polin\\OneDrive\\Документы\\Python Scripts\\flight.csv')

In [420]:
other = pd.read_excel('Датасет.xlsx')

In [468]:
flight = pd.read_csv('flight.csv', index_col = 0)
cit = {'Erevan':'Ереван', 'Sydney':'Сидней', 'Canberra':'Канберра', 'Birmingham':'Бирмингем', 'London':'Лондон', 'Buenos Aires':'Буэнос-Айрес', 'Mendoza':'Мендоса', 'Gyumri':'Гюмри', 'Berlin':'Берлин', 'Munich':'Мюнхен', 'Athens':'Афины', 'Rhodes':'Родос', 'Batumi':'Батуми', 'Tbilisi':'Тбилиси', 'Hurghada':'Хургада', 'Cairo':'Каир', 'Madrid':'Мадрид', 'Barcelona':'Барселона', 'Rome':'Рим', 'Venezia ':'Венеция', 'Astana':'Астана', 'Almata':'Алма-Ата', 'Vancouver':'Ванкувер', 'Ottava':'Оттава', 'Kirenia':'Кирения', 'Nikosia':'Никосия', 'Gayranger':'Гейрангер', 'Oslo':'Осло', 'Abu Dhabi':'Абу-Даби', 'Dubai':'Дубай', 'New York':'Нью-Йорк', 'Los Angeles':'Лос-Анджелес', 'Phuket':'Пхукет', 'Bangkok':'Бангкок', 'Alanya':'Аланья', 'Side':'Сиде', 'Paris':'Париж', 'Marcel':'Марсель', 'Budva':'Будва','Ulcinj':'Улцинь', 'Prague':'Прага', 'Karlovy Vary':'Карловы Вары', 'Stockholm':'Стокгольм', 'Kiruna':'Кируна', 'Kandy':'Канди', 'Veligame':'Велигаме', 'Seoul':'Сеул', 'Pusan':'Пусан', 'Tokyo':'Токио', 'Nara':'Нара'}
cities = []
for i in flight['city']:
    for key in cit:
        if i == key:
            cities.append(cit[key])
flight['city'] = cities

In [469]:
rests = pd.read_csv('rests.csv', index_col = 0)
cit = {'Erevan':'Ереван', 'Sydney':'Сидней', 'Canberra':'Канберра', 'Birmingham':'Бирмингем', 'London':'Лондон', 'Buenos Aires':'Буэнос-Айрес', 'Mendoza':'Мендоса', 'Gyumri':'Гюмри', 'Berlin':'Берлин', 'Munich':'Мюнхен', 'Athens':'Афины', 'Rhodes':'Родос', 'Batumi':'Батуми', 'Tbilisi':'Тбилиси', 'Hurghada':'Хургада', 'Cairo':'Каир', 'Madrid':'Мадрид', 'Barcelona':'Барселона', 'Rome':'Рим', 'Venezia':'Венеция', 'Astana':'Астана', 'Almata':'Алма-Ата', 'Vancouver':'Ванкувер', 'Ottava':'Оттава', 'Kirenia':'Кирения', 'Nikosia':'Никосия', 'Gayranger':'Гейрангер', 'Oslo':'Осло', 'Abu Dhabi':'Абу-Даби', 'Dubai':'Дубай', 'New York':'Нью-Йорк', 'Los Angeles':'Лос-Анджелес', 'Phuket':'Пхукет', 'Bangkok':'Бангкок', 'Alanya':'Аланья', 'Side':'Сиде', 'Paris':'Париж', 'Marcel':'Марсель', 'Budva':'Будва','Ulcinj':'Улцинь', 'Prague':'Прага', 'Karlovy Vary':'Карловы Вары', 'Stockholm':'Стокгольм', 'Kiruna':'Кируна', 'Kandy':'Канди', 'Veligame':'Велигаме', 'Seoul':'Сеул', 'Pusan':'Пусан', 'Tokyo':'Токио', 'Nara':'Нара'}
cities = []
for i in rests['city']:
    for key in cit:
        if i == key:
            cities.append(cit[key])
rests['city'] = cities

In [531]:
hotels = pd.read_csv('average.csv')

            city     price  rating  stars  lowest_price  highest_price
0       Абу-Даби  18303.42    4.31   4.25      12737.01       22920.66
1         Аланья   6184.71    4.09   4.01       6203.38       22943.75
2       Алма-Ата   8978.38    3.87   3.75       6824.16        8686.99
3         Астана  12700.33    4.02   3.65       4857.21        6522.76
4          Афины  13724.45    4.20   3.37       8370.70       15814.96
5        Бангкок  12904.20    4.19   3.27       4312.44        6000.85
6      Барселона  21655.00    4.13   3.08      14238.31       24980.84
7         Батуми   7077.57    4.26    NaN       3819.64        5469.89
8         Берлин  11799.60    3.97   3.38       8858.00       14292.74
9      Бирмингем   8122.56    3.85   3.13       7497.76       12476.31
10         Будва  12064.11    4.30   3.70       6919.65       11369.19
11  Буэнос-Айрес  13786.86    4.00   3.42       7360.87       11535.76
12      Ванкувер  19344.23    4.12   3.37      15224.42       28585.15
13      Велигаме  14066.67    4.47   3.17       7795.79       12554.74
14       Венеция  30257.25    4.22   3.03      14696.97       29367.47
15     Гейрангер       NaN    4.21   3.38      12299.50       21350.12
16         Гюмри       NaN    4.54   3.50       4326.56        5167.61
17         Дубай  18231.91    4.20   3.93      10490.84       21193.59
18        Ереван   6767.05    4.25   3.52       4548.14        6694.23
19          Каир   8718.78    4.00   3.47       6242.99        8792.32
20      Канберра  10477.33    3.91   3.97      10574.06       14654.40
21         Канди       NaN    4.36   3.00       5033.28        7493.97
22  Карловы Вары   8636.00    4.31   4.00       8653.64       12127.56
23       Кирения  11923.46    4.08   3.81      12714.24       19163.85
24        Кируна  29201.00    4.32   3.00      13685.62       26129.69
25        Лондон  19789.40    3.98   3.49      17491.97       28786.59
26  Лос-Анджелес  19408.40    3.71   2.80      15534.49       21255.18
27        Мадрид  19066.32    3.99   2.94      10527.56       19014.39
28       Марсель  13531.50    3.88   2.97       8736.22       12279.97
29       Мендоса  32364.50    4.11   3.27       7555.75       10652.25
30        Мюнхен  11327.45    3.90   3.44       9260.78       14635.16
31          Нара  15673.75    4.13   2.85      10366.76       16606.42
32       Никосия   8615.60    4.23   3.31       7762.37       10141.44
33      Нью-Йорк  29016.80    4.16   3.60      23313.59       42266.53
34          Осло  14761.00    3.96   3.46      11717.02       17208.32
35        Оттава  14487.27    4.10   3.01      11244.08       15022.53
36         Париж  23493.37    4.14   3.30      17267.45       28695.89
37         Прага  12724.50    4.23   3.71       7438.31       13924.91
38         Пусан   5444.81    4.13   2.76       4169.07        6378.86
39        Пхукет  11697.20    4.23   3.39       6734.30       12723.72
40           Рим  27459.28    4.24   3.05      13719.47       24869.02
41         Родос   8783.11    4.32   3.22       8233.02       13686.24
42          Сеул  12740.58    4.11   2.93       6660.44       10413.52
43          Сиде  16895.35    4.17   4.22       8117.80       21610.88
44        Сидней  17745.44    3.90   3.65      12426.28       19630.55
45     Стокгольм  12424.28    3.99   3.73       9562.85       15480.98
46       Тбилиси   7749.80    4.36   4.19       4272.96        6394.93
47         Токио  23642.10    4.03   2.93      10152.70       17656.87
48        Улцинь   6397.18    4.24   3.61       5030.11        7928.04
49       Хургада  11560.79    4.32   4.29       8027.80       12532.95

# Сбор топ-50

In [612]:
hotels_top = pd.read_csv('top_50.csv')
hotels_top['mean_price'] = (hotels_top['lowest_price'] + hotels_top['highest_price'])/2

In [613]:
hotels_top = hotels_top.drop(['price', 'lowest_price', 'highest_price', 'price_range'], axis =1)

In [653]:
hotels_top = hotels_top.groupby('city').apply(lambda x: x.head(11) if x.name == 'Кируна' else x)

In [681]:
hotels_top = hotels_top.reset_index(drop=True)
hotels_top = hotels_top.drop('city', axis = 1)

In [720]:
gen_top = pd.read_csv('df.csv', index_col = 0)
cit = {'Erevan':'Ереван', 'Sydney':'Сидней', 'Canberra':'Канберра', 'Birmingham':'Бирмингем', 'London':'Лондон', 'Buenos Aires':'Буэнос-Айрес', 'Mendoza':'Мендоса', 'Gyumri':'Гюмри', 'Berlin':'Берлин', 'Munich':'Мюнхен', 'Athens':'Афины', 'Rhodes':'Родос', 'Batumi':'Батуми', 'Tbilisi':'Тбилиси', 'Hurghada':'Хургада', 'Cairo':'Каир', 'Madrid':'Мадрид', 'Barcelona':'Барселона', 'Rome':'Рим', 'Venezia':'Венеция', 'Astana':'Астана', 'Almata':'Алма-Ата', 'Vancouver':'Ванкувер', 'Ottava':'Оттава', 'Kirenia':'Кирения', 'Nikosia':'Никосия', 'Gayranger':'Гейрангер', 'Oslo':'Осло', 'Abu Dhabi':'Абу-Даби', 'Dubai':'Дубай', 'New York':'Нью-Йорк', 'Los Angeles':'Лос-Анджелес', 'Phuket':'Пхукет', 'Bangkok':'Бангкок', 'Alanya':'Аланья', 'Side':'Сиде', 'Paris':'Париж', 'Marcel':'Марсель', 'Budva':'Будва','Ulcinj':'Улцинь', 'Prague':'Прага', 'Karlovy Vary':'Карловы Вары', 'Stockholm':'Стокгольм', 'Kiruna':'Кируна', 'Kandy':'Канди', 'Veligame':'Велигаме', 'Seoul':'Сеул', 'Pusan':'Пусан', 'Tokyo':'Токио', 'Nara':'Нара'}
del gen_top['city']
cities = []
for i in gen_top['city.1']:
    for key in cit:
        if i == key:
            cities.append(cit[key])
gen_top['city.1'] = cities
gen_top= gen_top.rename(columns ={'city.1' : 'city', 'names' : 'rest_name', 'mean_rate' : 'mean_rest_rate'})

In [721]:
gen_top = gen_top.groupby('city').apply(lambda x: x.head(8) if x.name == 'Гейрангер' else (x.head(18) if x.name == 'Гюмри' else (x.head(33) if x.name == 'Кирения' else(x.head(43) if x.name == 'Велигаме' else x))))

In [722]:
gen_top = gen_top.reset_index(drop=True)

In [723]:
gen_top

,ticket_price,flight_time,flight_time_minutes,mean_luggage_cost,rest_name,rate,mean_rest_rate,min_price,max_price,city,country
0,17058,1д 16ч 5м,2405,6068.1,Glow - Poolside Sports Bar,5.0,4.390572,1830.0,5489.0,Абу-Даби,UEA
1,30223,9ч 40м,580,6068.1,Art Lounge,5.0,4.390572,NaN,NaN,Абу-Даби,UEA
2,17877,16ч 5м,965,6068.1,Cabana Beach Bar & Grill,5.0,4.390572,915.0,2745.0,Абу-Даби,UEA
3,19085,1д 18ч 5м,2525,6068.1,BB Social Dining,5.0,4.390572,NaN,NaN,Абу-Даби,UEA
4,19885,18ч 5м,1085,6068.1,Mosaic Restaurant - Al Muroor,5.0,4.390572,747.0,3736.0,Абу-Даби,UEA
...,...,...,...,...,...,...,...,...,...,...,...
2358,33902,1д 10ч 50м,2090,4510.9,Sumo sushi,5.0,4.492857,1982.0,3963.0,Хургада,Egypt
2359,33939,2д 25м,2905,4510.9,Sebun Sushi,5.0,4.492857,1372.0,45746.0,Хургада,Egypt
2360,33939,1д 19ч 15м,2595,4510.9,Lophelia Seafood Restaurant,5.0,4.492857,NaN,NaN,Хургада,Egypt
2361,35080,1д 4ч 10м,1690,4510.9,Turquoise Main Restaurant,5.0,4.492857,NaN,NaN,Хургада,Egypt
2362,35264,1д 5ч,1740,4510.9,Vanille Bar et Restaurant,5.0,4.492857,178.0,2664.0,Хургада,Egypt

In [724]:
gen_top = gen_top.drop(['ticket_price', 'flight_time', 'flight_time_minutes', 'mean_luggage_cost', 'mean_rest_rate'], axis = 1)
gen_top['mean_rest_price'] = (gen_top['min_price'] + gen_top["max_price"])/2
gen_top = gen_top.drop(['min_price', 'max_price'], axis = 1)

In [725]:
gen_top = pd.concat([gen_top, hotels_top], axis = 1)

In [726]:

gen_top = gen_top.rename(columns={'rate': 'rest_rating', 'hotel': 'hotel_name', 'rating': 'hotel_rating', 'mean_price': 'mean_hotel_price'})
gen_top = gen_top[['country',  'city', 'rest_name', 'rest_rating', 'mean_rest_price', 'hotel_name', 'url','hotel_rating', 'mean_hotel_price', 'stars']]

In [727]:
gen_top.head()

,country,city,rest_name,rest_rating,mean_rest_price,hotel_name,url,hotel_rating,mean_hotel_price,stars
0,UEA,Абу-Даби,Glow - Poolside Sports Bar,5.0,3659.5,Джумейрах Этихад Тауэрс,https://www.tripadvisor.ru/Hotel_Review-g29401...,5.0,20837.5,5.0
1,UEA,Абу-Даби,Art Lounge,5.0,NaN,Эмират Палас Отель,https://www.tripadvisor.ru/Hotel_Review-g29401...,5.0,48833.0,5.0
2,UEA,Абу-Даби,Cabana Beach Bar & Grill,5.0,1830.0,The WB Abu Dhabi Curio Collection,https://www.tripadvisor.ru/Hotel_Review-g29401...,5.0,29819.5,4.5
3,UEA,Абу-Даби,BB Social Dining,5.0,NaN,Армед Форс Оффисерс Клуб & Отель,https://www.tripadvisor.ru/Hotel_Review-g29401...,5.0,18420.5,5.0
4,UEA,Абу-Даби,Mosaic Restaurant - Al Muroor,5.0,2241.5,Сен Режис Абу-Даби,https://www.tripadvisor.ru/Hotel_Review-g29401...,5.0,27448.5,5.0

# Сбор усредненного датафрейма

In [697]:
temp = flight.groupby('city')[['ticket_price','mean_luggage_cost','flight_time_minutes']].mean()
temp = pd.DataFrame(temp)
temp_1 = rests.groupby('city')[['rate', 'min_price', 'max_price']].mean()
temp_1 = pd.DataFrame(temp_1)
gen_all = other.merge(temp, on = 'city', how = 'left')
gen_all = gen_all.merge(temp_1, on = 'city', how = 'left')
gen_all = gen_all.merge(hotels, on = 'city', how = 'left')
gen_all = gen_all.rename(columns = {'ticket_price':'ticket_price, руб.', 'flight_time_minutes' : 'flight_time_minutes', 'min_price': 'mean_min_rest_price', 'max_price': 'mean_max_rest_price', 'rate': 'rest_rating', 'price' : 'hotel_price', 'rating': 'hotel_rating', 'mean_luggage_cost': 'luggage_cost', 'transport ': 'transport_grade', 'cards': 'cards_grade', 
                            'stars':'stars_grade', 'lang': 'lang_grade'})

In [698]:
gen_all['rest_price'] = (gen_all['mean_min_rest_price'] + gen_all['mean_max_rest_price'])/2

In [699]:
gen_all = gen_all.drop(['mean_min_rest_price', 'mean_max_rest_price', 'lowest_price', 'highest_price'], axis = 1)

In [700]:
gen_all['hotel_price'] = gen_all['hotel_price'].fillna(gen_all['hotel_price'].mean())
gen_all['stars_grade'] = gen_all['stars_grade'].fillna(gen_all['stars_grade'].mean())

In [701]:
gen_all.describe()

,transport_grade,"insurance, руб.",cards_grade,lang_grade,"ticket_price, руб.",luggage_cost,flight_time_minutes,rest_rating,hotel_price,hotel_rating,stars_grade,rest_price
count,50.000000,50.000000,50.000000,50.000000,50.00000,50.000000,50.000000,50.000000,50.000000,50.00000,50.000000,50.000000
mean,4.220000,19193.020000,2.120000,1.900000,50472.50800,8905.532397,1974.060000,4.265904,14930.311702,4.13480,3.434286,8020.743031
std,0.995705,16421.695907,1.255843,0.580288,33596.91513,4321.972979,677.909296,0.202403,6664.546282,0.17044,0.401177,29719.344393
min,2.000000,1086.000000,1.000000,1.000000,14803.80000,4254.666667,911.500000,3.636364,5444.810000,3.71000,2.760000,929.593220
25%,4.000000,6293.000000,1.000000,2.000000,30896.17500,5887.941667,1494.125000,4.142517,10689.860000,4.00000,3.092500,2038.054317
50%,5.000000,9372.500000,2.000000,2.000000,40587.75000,7885.000000,1795.750000,4.291773,13627.975000,4.13500,3.405000,2519.496976
75%,5.000000,36276.250000,3.000000,2.000000,53918.47500,10176.875000,2258.750000,4.400528,18285.542500,4.24000,3.687500,4057.969427
max,5.000000,51223.000000,5.000000,3.000000,181985.70000,23170.600000,3598.000000,4.720513,32364.500000,4.54000,4.290000,211069.475694

In [709]:
visa = []
for i in gen_all['country']: 
    if i == 'Армения':
        visa.append(2)
    elif i == 'Казахстан':
        visa.append(2)
    elif i == 'Турция':
        visa.append(2)
    elif i == 'Черногория':
        visa.append(2)
    elif i == 'Грузия':
        visa.append(2)
    elif i == 'ОАЭ':
        visa.append(2)
    elif i == 'Тайланд':
        visa.append(2)
    elif i == 'Шри-Ланка':
        visa.append(2)
    elif i == 'Южная Корея':
        viss.append(2)
    elif i == 'Аргентина':
        visa.append(2)
    elif i == 'Египет':
        visa.append(2)
    else :
        visa.append(1)

In [710]:
gen_all['visa'] = visa

In [711]:
cheat = ['insurance, руб.','ticket_price, руб.', 'luggage_cost', 'flight_time_minutes', 'rest_price', 'hotel_price']
for i in cheat: 
    listic = []
    for z in gen_all[i] :
        if z < np.percentile(gen_all[i], 25) :
            listic.append(5)
        elif ((z < np.percentile(gen_all[i], 50)) & (z >= np.percentile(gen_all[i], 25))):
            listic.append(4)
        elif ((z < np.percentile(gen_all[i], 75)) & (z >= np.percentile(gen_all[i], 50))):
            listic.append(3)
        elif ((z < gen_all.describe()[i].max()) & (z >= np.percentile(gen_all[i], 75))):
            listic.append(2)
        else:
            listic.append(1)
    gen_all[f'{i}_grade'] = listic

In [712]:
gen_all = gen_all[['country', 'city', 'insurance, руб.', 'ticket_price, руб.', 'luggage_cost', 'flight_time_minutes', 'rest_price', 'hotel_price', 'stars_grade','transport_grade', 'cards_grade', 'lang_grade', 'rest_rating','rest_price_grade','hotel_rating', 'hotel_price_grade','flight_time_minutes_grade', 'insurance, руб._grade', 'ticket_price, руб._grade','luggage_cost_grade', 'visa']]

In [718]:
gen_all.drop('country', axis = 1).head()

,city,"insurance, руб.","ticket_price, руб.",luggage_cost,flight_time_minutes,rest_price,hotel_price,stars_grade,transport_grade,cards_grade,lang_grade,rest_rating,rest_price_grade,hotel_rating,hotel_price_grade,flight_time_minutes_grade,"insurance, руб._grade","ticket_price, руб._grade",luggage_cost_grade,visa
0,Ереван,1801,14803.8,5827.888889,1183.0,5434.777228,6767.05,3.52,5,5,3,4.345882,2,4.25,5,5,5,5,5,2
1,Сидней,9171,69848.0,7370.900000,3170.0,2373.470790,17745.44,3.65,4,1,2,4.274790,4,3.90,3,2,4,2,4,1
2,Канберра,7884,106518.1,5300.800000,3451.0,1683.957237,10477.33,3.97,4,1,2,3.910204,5,3.91,5,2,4,2,5,1
3,Бирмингем,45170,32343.6,9588.100000,2170.0,2051.748387,8122.56,3.13,3,3,2,4.315657,4,3.85,5,3,2,4,3,1
4,Лондон,45170,27551.6,13269.800000,1774.5,3004.180723,19789.40,3.49,5,3,2,4.582215,3,3.98,2,4,2,5,2,1

In [714]:
gen_all.to_csv('C:\\Users\\polin\\OneDrive\\Документы\\Python Scripts\\gen_all.csv')

In [690]:
gen_top.to_csv('C:\\Users\\polin\\OneDrive\\Документы\\Python Scripts\\gen_top.csv')

In [516]:
!pip install plotly==4.14.3
import plotly.graph_objects as go 
import plotly.express as px
import pandas as pd

Requirement already satisfied: plotly==4.14.3 in c:\users\polin\anaconda3\lib\site-packages (4.14.3)
Requirement already satisfied: retrying>=1.3.3 in c:\users\polin\anaconda3\lib\site-packages (from plotly==4.14.3) (1.3.4)
Requirement already satisfied: six in c:\users\polin\anaconda3\lib\site-packages (from plotly==4.14.3) (1.16.0)

In [528]:
fig = go.Figure()
fig.add_trace(go.Pie(values= gen_all['transport '], labels=gen_all['country']))
fig.show()